version: '3.8'

services:
  web:
    build: .
    container_name: muturaa_net_app
    restart: always
    ports:
      - '8000:8000'
    env_file:
      - .env
    volumes:
      - .:/app
      # map static files of the VPS to the container
      - ./staticfiles:/app/staticfiles
